@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

.open-menu-animation {
    animation: open-menu 0.2s ease-in-out forwards;
}

@keyframes open-menu {
    from {
        opacity: 0;
        transform: translateY(-5%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.close-menu-animation {
    animation: close-menu 0.2s ease-in-out forwards;
}

@keyframes close-menu {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-5%);
    }
}

@font-face {
    font-family: "Iceberg";
    src: url("/storage_public/fonts/iceberg.ttf") format("truetype");
}

.font-iceberg {
    font-family: "Iceberg", sans-serif, system-ui;
}

.swiper-button-prev {
    scale: 0.8;
    color: #e17100;
}

.swiper-button-next {
    scale: 0.8;
    color: #e17100;
}

.swiper-button-next::after {
    color: #e17100;
}

.swiper-button-prev::after {
    color: #e17100;
}

.swiper-pagination-bullet-active {
    background: #e17100 !important;
}

.swiper-pagination-bullet-active::after {
    background: #e17100 !important;
}
